<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add document</title>
  </head>
  <body>
    <form action="/add" method="post">
      <div class="form-group">
        <input
          type="text"
          name="user"
          class="form-control form-control lg"
          placeholder="Add Something you love"
        
        />
      </div>
      <input type="submit" value="Add" class="btn btn-dark btn-lg" />
      <a href="/" class="btn btn-danger btn-lg">cancel</a>
    </form>
  </body>
</html>
