<h1>Home Page</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user,index) => { %>
    <tr>
      <td scope="row"><%= index+1 %></td>
      <td><%= user.name %></td>
      <td>
        <form action="/" method="post">
          <input type="hidden" name="deleteuser" value="<%= user.name %>" />
          <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
        </form>
      </td>
      <td>
        <form action="/update" method="post">
          <input type="hidden" name="updateuser" value="<%= user.name %>" />
          <input type="submit" value="Update" class="btn btn-dark btn-lg" />
        </form>
      </td>
    </tr>
    <% } ); %>
  </tbody>
</table>
